<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.header.front.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.snippet.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-title" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head">
					<h3 class="content-title" id="contentTitle"><span class="content-name">color</span></h3>
					<p class="para">본 프로젝트의 컬러 시스템을 아래와 같이 정의하며, 반드시 약속된 값을 사용합니다.<br />웹 페이지의 컬러는 사용자에게 이정표와 같은 역할을 하므로 일관성 없이 남용된 컬러의 사용은 사용자에게 혼란을 주게 됩니다.</p>
				</div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<!-- section -->
					<div class="section color-variation">
						<div class="section-head">
							<%- include('../_mixin/_title.section.ejs', {name: 'color system'}) %>
							<p class="para">Base는 총 11가지의 Variants를 포함하며, Accent Color는 Primary, Secondary가 존재합니다.</p>
						</div>
						<div class="section-body">
							<div class="subsection base">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'base'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #000000"><span class="data-name">base, 100</span> <span class="data-code">#000000</span></li>
										<li class="data-item" style="background-color: #191919"><span class="data-name">base, 090</span> <span class="data-code">#191919</span></li>
										<li class="data-item" style="background-color: #2d2d2d"><span class="data-name">base, 080</span> <span class="data-code">#2d2d2d</span></li>
										<li class="data-item" style="background-color: #484848"><span class="data-name">base, 070</span> <span class="data-code">#484848</span></li>
										<li class="data-item" style="background-color: #646464"><span class="data-name">base, 060</span> <span class="data-code">#646464</span></li>
										<li class="data-item" style="background-color: #848484"><span class="data-name">base, 050</span> <span class="data-code">#848484</span></li>
										<li class="data-item" style="background-color: #a3a3a3"><span class="data-name">base, 040</span> <span class="data-code">#a3a3a3</span></li>
										<li class="data-item" style="background-color: #bcbcbc"><span class="data-name">base, 030</span> <span class="data-code">#bcbcbc</span></li>
										<li class="data-item" style="background-color: #d8d8d8"><span class="data-name">base, 020</span> <span class="data-code">#d8d8d8</span></li>
										<li class="data-item" style="background-color: #ebebeb"><span class="data-name">base, 010</span> <span class="data-code">#ebebeb</span></li>
										<li class="data-item" style="background-color: #f5f5f5"><span class="data-name">base, 005</span> <span class="data-code">#f5f5f5</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">base, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection base">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'primary'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #000000"><span class="data-name">primary, 100</span> <span class="data-code">#000000</span></li>
										<li class="data-item" style="background-color: #330b0c"><span class="data-name">primary, 090</span> <span class="data-code">#330b0c</span></li>
										<li class="data-item" style="background-color: #661618"><span class="data-name">primary, 080</span> <span class="data-code">#661618</span></li>
										<li class="data-item" style="background-color: #982125"><span class="data-name">primary, 070</span> <span class="data-code">#982125</span></li>
										<li class="data-item" style="background-color: #cb2c31"><span class="data-name">primary, 060</span> <span class="data-code">#cb2c31</span></li>
										<li class="data-item" style="background-color: #fe373d"><span class="data-name">primary, 050</span> <span class="data-code">#fe373d</span></li>
										<li class="data-item" style="background-color: #fe5f64"><span class="data-name">primary, 040</span> <span class="data-code">#fe5f64</span></li>
										<li class="data-item" style="background-color: #fe878b"><span class="data-name">primary, 030</span> <span class="data-code">#fe878b</span></li>
										<li class="data-item" style="background-color: #ffafb1"><span class="data-name">primary, 020</span> <span class="data-code">#ffbfc1</span></li>
										<li class="data-item" style="background-color: #ffd7d8"><span class="data-name">primary, 010</span> <span class="data-code">#ffdfe0</span></li>
										<li class="data-item" style="background-color: #FFEDEE"><span class="data-name">primary, 005</span> <span class="data-code">#ffedee</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">primary, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection primary">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'secondary'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #3ab8ff"><span class="data-name">secondary, 010</span> <span class="data-code">#3ab8ff</span></li>
										<li class="data-item" style="background-color: #ffb274"><span class="data-name">secondary, 020</span> <span class="data-code">#ffb274</span></li>
										<li class="data-item" style="background-color: #ffc328"><span class="data-name">secondary, 030</span> <span class="data-code">#ffc328</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section color-variation">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'SCSS usage'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'argument'}) %></div>
								<div class="subsection-body">
									<pre class="highlight-js"><code class="scss">color($theme, $variant, $opacity);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'example'}) %></div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="scss">color: color(base, 020);
border-color: color(base, 060);
background-color: color(base, 000, 0.6);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
				</div>
				<!-- content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function() {
		var buttons = document.querySelectorAll('.bui-button-area .btn');
		Array.prototype.forEach.call(buttons, function(button) {
			button.addEventListener('click', function(e) {
				e.preventDefault();
			});
		});
	});
</script>
</body>
</html>