<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.header.front.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.snippet.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-title" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head"><%- include('../_mixin/_title.content.ejs', {name: 'fieldset'}) %></div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<!-- section : Button System-->
					<div class="section">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'submit form'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'HTML Structure'}) %></div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="html">&lt;!-- submit-form --&gt;
&lt;fieldset class="submit-form"&gt;
	&lt;legend&gt;fieldset name&lt;/legend&gt;
	&lt;div class="form-list"&gt;
		&lt;div class="form-item"&gt;
			&lt;div class="form-wrap"&gt;
				&lt;div class="form-head"&gt;&lt;label class="form-name" for="form_id"&gt;form name&lt;/label&gt;&lt;/div&gt;
				&lt;div class="form-body"&gt;
					&lt;div class="form-area"&gt;
						&lt;input type="text" id="form_id" /&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="form-util"&gt;
		&lt;div class="button-area"&gt;
			&lt;button type="submit"&gt;submit&lt;/button&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/fieldset&gt;
&lt;!-- //submit-form --&gt;</code></pre>
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'demos'}) %></div>
								<div class="subsection-body">
									<!--subsubsection-->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: '연차 등록'}) %></div>
										<div class="subsubsection-body">
											<!-- submit-form -->
											<fieldset class="submit-form module-a type-a medium">
												<legend>연차 유형 선택 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="">유형</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-a style-b type-line normal-04 medium flex">
																		<select class="form-elem">
																			<option>선택</option>
																			<option>오전반차</option>
																			<option>오후반차</option>
																			<option>연차</option>
																			<option>스마트데이</option>
																			<option>대체휴무</option>
																			<option>하계,동계휴가</option>
																			<option>예비군,민방위훈련</option>
																			<option>경조휴가</option>
																			<option>미사용연차</option>
																			<option>리플레쉬휴가</option>
																			<option>백신휴가</option>
																			<option>기타</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
											<!-- //submit-form -->
											<!-- submit-form -->
											<fieldset class="submit-form module-a type-a medium">
												<legend>연차 등록 입력 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="periodLeave">일시</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" id="periodLeave" placeholder="일시를 입력해주세요." value="11, 16, 18, 21일" readonly="readonly" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="phoneNumbdr">연락처</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" id="phoneNumbdr" placeholder="연락처를 입력해주세요." value="010-2729-5982" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="todayTask">업무내역</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textarea module-a style-b type-line normal-04 medium flex">
																		<textarea class="form-elem" id="todayTask" rows="4" placeholder="업무 내역을 입력해 주세요.">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ratione ipsum, ad ullam enim obcaecati tempore reprehenderit quas aspernatur sit sequi. Nemo molestiae deserunt mollitia commodi ipsum fugiat tenetur veritatis. Necessitatibus, facilis earum. Totam aliquam, soluta similique quibusdam non fuga labore eius provident ea numquam sint accusamus ducimus, in quis saepe. Quas ratione repellat saepe consectetur cumque numquam corrupti sunt! Sequi fuga at necessitatibus, doloribus delectus repellat alias rem. Esse, error explicabo! Enim maxime vitae sapiente aliquam, minima sit sunt. Veritatis itaque autem id expedita voluptates tempore quasi quos dolor! Sapiente nobis eaque laudantium perferendis. Blanditiis fugiat animi nobis recusandae, doloribus ipsa cupiditate pariatur vel repellat voluptate cum voluptatum quibusdam tempore eum aliquid dolores non ab, aliquam fuga molestias quia. Est quam iusto dignissimos officiis perferendis, ipsum tempore nam sapiente ea error doloribus a quis in corporis eveniet deleniti consectetur corrupti quisquam possimus animi debitis facilis maiores quasi. Ratione, vero. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ratione ipsum, ad ullam enim obcaecati tempore reprehenderit quas aspernatur sit sequi. Nemo molestiae deserunt mollitia commodi ipsum fugiat tenetur veritatis. Necessitatibus, facilis earum. Totam aliquam, soluta similique quibusdam non fuga labore eius provident ea numquam sint accusamus ducimus, in quis saepe. Quas ratione repellat saepe consectetur cumque numquam corrupti sunt! Sequi fuga at necessitatibus, doloribus delectus repellat alias rem. Esse, error explicabo! Enim maxime vitae sapiente aliquam, minima sit sunt. Veritatis itaque autem id expedita voluptates tempore quasi quos dolor! Sapiente nobis eaque laudantium perferendis. Blanditiis fugiat animi nobis recusandae, doloribus ipsa cupiditate pariatur vel repellat voluptate cum voluptatum quibusdam tempore eum aliquid dolores non ab, aliquam fuga molestias quia. Est quam iusto dignissimos officiis perferendis, ipsum tempore nam sapiente ea error doloribus a quis in corporis eveniet deleniti consectetur corrupti quisquam possimus animi debitis facilis maiores quasi. Ratione, vero.</textarea>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="approver">승인위치</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-a style-b type-line normal-04 medium flex">
																		<select class="form-elem" id="approver">
																			<option>조완섭[수석]_UX팀</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
											<!-- //submit-form -->
										</div>
									</div>
									<!--//subsubsection-->
									<!--subsubsection-->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: '지출결의'}) %></div>
										<div class="subsubsection-body">
											<!-- submit-form -->
											<fieldset class="submit-form module-a type-a medium">
												<legend>지출결의 기본정보 입력 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="">신청자</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" placeholder="신청자를 입력해주세요." value="홍길순" readonly="readonly" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="">본부</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" placeholder="본부를 입력해주세요." value="서비스 운영 본부" readonly="readonly" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="">부서</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" placeholder="부서를 입력해주세요." value="UX팀" readonly="readonly" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="">제목</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" placeholder="제목을 입력해주세요." value="02월 지출결의_홍길순" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="">승인위치</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-a style-b type-line normal-04 medium flex">
																		<select class="form-elem">
																			<option>조완섭[수석]_UX팀</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
											<!-- //submit-form -->
										</div>
									</div>
									<!--//subsubsection-->

									<!--subsubsection-->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: '지출내역'}) %></div>
										<div class="subsubsection-body">
											<!-- submit-form -->
											<fieldset class="submit-form module-a type-a medium">
												<legend>지출내역 입력 서식</legend>
												<div class="form-list">
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="">날짜</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form datepicker module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" placeholder="날짜를 선택해주세요." value="2022-02-11" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="expensesType">지출타입</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form select module-a style-b type-line normal-04 medium flex">
																		<select class="form-elem" id="expensesType">
																			<option>선택</option>
																			<option>교통비</option>
																			<option>석식대</option>
																			<option>회식비</option>
																			<option>기타</option>
																		</select>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="expensesHistory">상세내역</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" id="expensesHistory" placeholder="지출 상세내역을 입력해주세요." value="12시 지나 퇴근이라 택시탐" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="expensesProjectName">프로젝트</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" id="expensesProjectName" placeholder="프로젝트명을 입력해주세요." value="UCOMP 인트라넷" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-item">
														<div class="form-wrap">
															<div class="form-head"><label class="form-name" for="expensesAmount">금액</label></div>
															<div class="form-body">
																<div class="form-area">
																	<span class="form textfield module-a style-b type-line normal-04 medium flex">
																		<input type="text" class="form-elem" id="expensesAmount" placeholder="금액을 입력해주세요." value="11,000" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
											<!-- //submit-form -->
										</div>
									</div>
									<!--//subsubsection-->
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!--//section -->
				</div>
				<!-- //content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>